html {height: 100%;}

body {
	background-image: url(images/fondo.png);
	margin: 0;
	padding:0;
    background-size:   cover;
    background-repeat: no-repeat;
	background-attachment: fixed;
    font-family: sans-serif;
	height: 100%;
}

#header {
	background-image: url(images/header-bg.png);
	height: 46px;
	overflow: hidden;
}

#header > div {
	background-image: url(images/header.png);
	width: 1280px;
	height: 46px;
}

#header #serviteca {
	background-image: url(images/headerservi.png);
}

#header #aserviteca {
	display:block;
	width:160px;
	height: 22px;
	float:left;
}

#header #avolver {
	display:block;
	width:320px;
	height: 46px;
	float:left;
}

#header #adistribuidores {
	display:block;
	width:320px;
	height: 22px;
}

#caja {
	text-align: center;
	margin-top: 50px;
	padding-bottom:70px;
}
#caja img {
	margin-bottom: 38px;
}
input[type="text"], input[type="password"], input[type="number"] {
	width: 330px;
	height: 32px;
	line-height: 32px;
	font-style: italic;
	background-color: white;
	border: 0;
	border-radius: 8px;
	padding: 0 0 0 4px;
	margin-bottom: 30px;
}

input[type="submit"] {
	background-color: #1e3d72;
	color: white;
	border: 0;
	text-transform: uppercase;
	width: 334px;
	height: 32px;
	line-height: 32px;
	border-radius:8px;
}

.filtro {
	margin:20px 0;
	overflow:auto;
}
.filtro > div {
	float:left;
	line-height: 32px;
	margin-right:50px;
}
.filtro form {
	float:left;
}
.filtro select {
	margin:0;
	float:left;
	width:180px;
	margin-left: 10px;
}
.filtro input[type="submit"] {
	margin:0;
	float:left;
	width:110px;
	margin-left:10px;
}

#lregion {
	position: absolute;
	top: 300px;
	left: 50%;
	margin-left: -50px;
	text-align: left;
	background-color: white;
}

select {
	width: 330px;
	height: 32px;
	line-height: 32px;
	font-style: italic;
	border-radius: 8px;
	border: 0;
	margin:auto;
	margin-bottom: 30px;
	display: block;
}

option {
	padding: 5px;
}

#venta select, #venta input[type=text] {
	margin-bottom: 19px;
}

#distribuidores {
	width: 670px;
	margin: auto;
	overflow: auto;
	margin-bottom: 55px;
}
#distribuidores > div {
	width: 178px;
	height:105px;
	float:left;
	min-height: 79px;
	padding: 5px 6px;
	margin: 15px;
	background-color: #f1d609;
	font-size: 9pt;
	border-radius:12px;
	text-align: left;
	display:table-cell;
	vertical-align:middle;
}
#distribuidores table {
	height:105px;
}

#footer {
	height: 20px;
    width: 100%;
    overflow: hidden;
    background-color: #f1d609;
}

#footer > div {
	background-image: url(images/footer.png);
	width: 1280px;
	height: 50px;
	position:absolute;
	right: 0;
}

#footer a {
	display:block;
	width:160px;
	height: 50px;
	float:right;
}

#medida, #cantidad {
	width: 150px;
	display:inline;
}

#medida {
	margin-right: 26px;
}

#boleta, #factura {
	width: 130px;
}

.error {
	padding-bottom:17px;
}

.error span {
	color: black;
	font-size:10pt;
	font-style:italic;
	background-color: white;
	border-radius:12px;
	padding:17px 10px;
}

a.fuera {
	color:white;
	font-size:10pt;
	text-transform:uppercase;
}


a.x {
	background-image: url(images/x.png);
	width:32px;
	height:32px;
	display:block;
	margin:auto;
	position:relative;
	z-index:10;
}

.contenido {
	width:940px;
	background-color: white;
	margin: 20px auto;
	padding:20px;
	padding-top: 5px;
	overflow: auto;
}

.contenido nav {
	background-color: #1e3d72;
	overflow: auto;
	width: 100%;
}
.contenido nav a {
	color: #fff;
	float: left;
	text-decoration: none;
	font-size: 13px;
	text-transform: uppercase;
	padding: 8px 20px;
}

.contenido nav a.active {
	background-color: #345896;
}

.contenido table {
	border-collapse:collapse;
	width:100%;
}
.contenido td, th {
	border:1px solid silver;
	padding: 5px;
	font-size: 9pt;
}

div#revisar {
	width:310px;
	background-color:white;
	border-radius:12px;
	padding:12px;
	margin:auto;
	margin-bottom:30px;
	margin-top:-16px;
}

table.revisar {
	margin:auto;
	border-collapse:collapse;
	border-radius:12px;
}
table.revisar td {
	background-color: white;
	color: black;
	font-style:italic;
	font-size:10pt;
	padding:8px;
}

a.linkoculto {
	text-decoration: none;
	color:#000;
}

a.linkoculto:hover {
	text-decoration: underline;
	color:blue;
}

#creartarjetas, #crearcodigo, #renombrar, #nuevaemp, .oculto {
	display:none;
}

.sombra {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.4;
}

.popup {
	position:absolute;
	top:100px;
	left:50%;
	margin-left:-200px;
	width:400px;
	background:white;
	padding:20px;
	border:4px solid gray;
}

.popup a.cerrar {
	padding:5px 10px;
	background-color: silver;
	color:white;
	font-weight:bold;
	float:right;
	text-decoration:none;
}

.popup .bloque {
	padding: 10px 0;
}

.popup input {width: initial; margin:0;}
.popup input[type=text], .popup input[type=number] {border: 1px solid #ccc;margin-right: 5px;margin-bottom: 6px;}
.popup select {
	margin: 0 0 20px 0;
}

.popup label {
	display: block;
	font-size: 13px;
}

.popup td label, .popup label.inline {
	display: inline;
}

.popup label.text-base {
	font-size: 1rem;
}

.popup .scroll {
	height: 200px;
	border: 1px solid #1e3d72;
	overflow-y: scroll;
	margin-bottom: 1rem;
}


@media screen and (max-width: 400px) {
	#header > div {
		background-size: 1100px;
		background-repeat:no-repeat;
	}
	#header #aserviteca {
		width:130px;
		height: 22px;
		margin-left:270px;
	}
}
