/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-width:1000px;
  background-color: #000;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-width: 1000px;
  /* Set the fixed height of the footer here */
  height: 216px;
  background-image: url('../img/footer.png');
  background-size:1920px auto;
  background-repeat: no-repeat;
  background-position:center bottom;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: 300px;
    padding: 150px 0px;
    color: #fff;
    margin-left: 50px;
    margin-bottom: 100px;
}
.container.grande {
    width: 360px;
    text-align: justify;
}

.container.muygrande {
    width: 375px;
}

.container.grande form, .container.muygrande form {
    width: 300px;
}

.container .text-muted {
  margin: 20px 0;
}

.container .form-main{
  width: 35%;
}
.container .push-padding{
  padding-left: 15px;
}

h4 {
    letter-spacing: 1.2px;
    margin: 20px 0;
}

.form-group {
    margin-bottom: 10px;
}

.background-person{
  position: fixed;
  background: url('../img/foto.png');
  top:0;
  left: 0;
  width: 50%;
  height: 90%;
  background-position:right center;
  background-repeat: no-repeat;
  z-index: -10000;
}
.background-camera{
  position: fixed;
  background: url('../img/fondo-concursa.png');
  top:0;
  left: 0;
  width: 50%;
  height: 90%;
  background-position:right center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10000;
  text-align: center;
}
.background-camera img {
    width: 65%;
    margin-top: 3%;
}
.background-fondo-superior{
  position: absolute;
  background: url('../img/fondo-superior.png');
  top:0;
  right: 0;
  width: 50%;
  min-height: 90%;
  background-position:left top;
  z-index: -10000;
}

.boton-serviteca{
  position: fixed;
  background: url('../img/boton-serviteca.png');
  top:0;
  left: 0;
  width: 97px;
  height: 100%;
  background-position:left top;
  background-repeat: no-repeat;
  z-index: -9000;
}

.boton-serviteca a {
    display: block;
    width: 97px;
    height: 95px;
}

.distribuidores {
    width: 425px;
}

.distribuidores > div {
    width: 178px;
    height: 272px;
    float: left;
    min-height: 79px;
    padding: 5px 6px;
    margin: 15px;
    background-color: #ffc700;
    font-size: 9pt;
    border-radius: 12px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    color:#000;
}

.mapa {
    width: 166px;
    height: 160px;
}

.logo-cliente-vip{
  position: absolute;
  background: url('../img/cliente-vip.png');
  top:30px;
  left: 475px;
  width: 196px;
  height: 100%;
  background-position:left top;
  background-repeat: no-repeat;
  z-index: -9000;
}

.menu{
  margin-top: -50px;
  text-align: center;
  position: relative;
}

.btn-menu{
  transition: all .2s ease-in-out;
}
.btn-active{
  transform: translate(0,-1em);
}

.btn-menu:hover{
  transform: translate(0,-1em);
}

.glb-01 {
  position: absolute;
  background-image: url('../img/globo-01.png');
  width: 258px;
  height: 45px;
  background-position:left top;
  background-repeat: no-repeat;
  margin-top: -42px;
  left:-100px;
}

.icon-float{
  float:right;
  padding-right: 175px;
  margin-top: 10px;
}

.icon-float-carta{
  float:right;
  padding-right: 210px;
  margin-top: 29px;
}

.icon-float-camara{
    float: right;
    width: 58px;
    margin-top: 14px;
}

.list-custom{
  list-style-image: url('../img/square.png');
  margin-left: -30px;
}

.form-pasos{
  width: 365px;"
}

input[type='radio'] {
  -webkit-appearance:none;
  width:14px;
  height:14px;
  border:2px solid white;
  border-radius:50%;
  outline:none;
  background: #fff;

}

input[type='radio']:before {
  content:'';
  display:block;
  width:14px;
  height:14px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius:50%;
}

input[type='radio']:checked:before {
  -webkit-appearance:none;
  width:14px;
  height:14px;
  border:2px solid #FFC200;
  border-radius:50%;
  outline:none;
  background: #FFC200;
}

@media screen and (max-width: 1599px) {

    .footer {
        height: 164px;
        background-image: url('../img/footer.png');
        background-size:1366px auto;
    }
    .container {
        padding-top:60px;
    }
    .logo-cliente-vip {
        left: 450px;
    }
}
