/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  min-width:1000px;
  background-color: #000;
  font-size: 13px;
}
header {
    background: #004990;
    color: #fff;
    text-align: center;
    font-family: 'trade', sans-serif;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;
	line-height: 36px;
	padding-top: 6px;
	position: fixed;
	z-index: 10;
	width: 100%;
}
header img {
	width: 150px;
    vertical-align: text-bottom;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 162px;
}

.franja-blanca {
	background-color: #fff;
	font-family: 'trade', sans-serif;
	color: #004990;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding: 20px 0;
	padding-top: 30px;
	text-align: center;
}

.abajo {
	background-color: #0c0c0c;
	text-align: center;
	height: 110px;
    padding-top: 23px;
}
.abajo img {
	width: 250px;
}

@font-face{
	font-family:'trade';
	font-weight: normal;
	src:url('../fonts/TradeGothicLTStd Cn18.otf')
}
@font-face{
	font-family:'trade';
	font-weight: bold;
	src:url('../fonts/TradeGothicLTStd-BdCn20.otf')
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: 86%;
	padding: 30px 0px;
	padding-bottom: 140px;
    color: #fff;
    margin-left: 50px;
    margin-bottom: 100px;
}
.container.grande {
    width: 360px;
}

.container.muygrande {
    width: 375px;
}

.container.grande form, .container.muygrande form {
    width: 300px;
}

.container .text-muted {
  margin: 20px 0;
}

.container .form-main{
  width: 35%;
}
.container .push-padding{
  padding-left: 15px;
}

h3 {
	font-family: 'trade', sans-serif;
	text-transform: uppercase;
	color: #ffdd00;
	font-weight: bold;
	font-size: 30px;
}

h3 b {
	color: #fff;
}

h4 {
    letter-spacing: 1.2px;
    margin: 20px 0;
}

.form-group {
    margin-bottom: 10px;
}

.background-person{
  position: fixed;
  background: url('../img/Foto joven con tarjeta.jpg');
  top:42px;
  left: 0;
  width: 50%;
  height: 90%;
  background-position:right center;
  background-repeat: no-repeat;
  background-size: cover;
}
.background-fondo-superior{
  position: absolute;
  background: url('../img/foto fondo neumatico.jpg');
  top:40px;
  right: 0;
  width: 50%;
  min-height: 90%;
  background-position:left top;
  background-size: cover;
}

.boton-serviteca{
  position: fixed;
  top:45px;
  left: 0;
  /*z-index: -9000;*/
}

.boton-serviteca img {
    max-width: 50vw;
}

.distribuidores {
    width: 425px;
}

.distribuidores > div {
    width: 178px;
    height: 295px;
    float: left;
    min-height: 79px;
    padding: 5px 6px;
    margin: 15px;
    background-color: #ffdd00;
    font-size: 9pt;
    border-radius: 12px;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    color:#000;
}

.distribuidores p {
    text-align: center;
}

.distribuidores p a {
    color: #052c7d;
    font-weight: bold;
    margin-top: 3px;
    display: block;
}

.mapa {
    width: 166px;
    height: 160px;
}

.menu{
  margin-top: -50px;
  text-align: center;
  position: relative;
}

.menu a {
	background-color: #fff;
	display: inline-block;
	transition: all .2s ease-in-out;
	width: 150px;
	padding-top: 8px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-bottom: 20px;
	position: relative;
    top: 20px;
	margin: 0 1px;
	margin-top: -20px;
}

.menu a:nth-child(1) img, .menu a:nth-child(3) img {
	height: 42px;
	margin-top: 0;
}

.menu a img {
	height: 32px;
	margin-top: 10px;
}
.btn-active{
  transform: translate(0,-1em);
}

.menu a:hover{
  transform: translate(0,-1em);
}

.btn {
	font-size: 19px;
	padding-bottom: 2px;
}

.form-control {
	font-size: 13px;
}

.glb-01 {
  position: absolute;
  background-image: url('../img/globo-01.png');
  width: 258px;
  height: 45px;
  background-position:left top;
  background-repeat: no-repeat;
  margin-top: -42px;
  left:-100px;
}

.icon-float{
	float:right;
	margin-top: 10px;
	width: 200px;
}

.icon-carro {
	width: 50px;
}

.icon-ctn {
	width: 120px;
    vertical-align: text-top;
    margin-left: 20px;
}

.icon-tarjeta {
	width: 50px;
    vertical-align: sub;
    margin-left: 10px;
}

.icon-bases {
	width: 30px;
    vertical-align: baseline;
    margin-left: 10px;
}

.icon-carta {
	width: 38px;
    vertical-align: baseline;
    margin-left: 10px;
    position: relative;
    top: 5px;
}

.list-custom{
	margin-left: -30px;
	font-size: 12px;
	list-style: none;
}

.list-custom li::before {
	content: "\2022";
	color: #ffdd00;
	font-weight: bold;
	display: inline-block; 
	width: 1em;
	margin-left: -1em;
}

.list-custom li {
	margin-bottom: 10px;
	text-align: justify;
}

.form-pasos{
  width: 365px;
}

.form-contacto {
	max-width: 340px;
}

input[type='radio'] {
  -webkit-appearance:none;
  width:14px;
  height:14px;
  border:2px solid white;
  border-radius:50%;
  outline:none;
  background: #fff;

}

input[type='radio']:before {
  content:'';
  display:block;
  width:14px;
  height:14px;
  margin-top: -2px;
  margin-left: -2px;
  border-radius:50%;
}

input[type='radio']:checked:before {
  -webkit-appearance:none;
  width:14px;
  height:14px;
  border:2px solid #FFC200;
  border-radius:50%;
  outline:none;
  background: #FFC200;
}

.contacto-ctn {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	margin-right: 20px;
	font-size: 11px;
}

.contacto-ctn li {
	display: inline-block;
	white-space: nowrap;
	margin-right: 15px;
}

.contacto-ctn img {
    float: left;
    width: 20px;
    margin-right: 5px;
    padding-bottom: 10px;
}

.font-trade {
	font-family: 'trade', sans-serif;
}